[submodule "cshared"]
	path = cshared
	url = https://github.com/fillabs/cshared.git
	branch = master
[submodule "fitsec2-rel"]
	path = fitsec2-rel
	url = https://github.com/fillabs/fitsec2-rel.git
	branch = main
[submodule "fscrypt"]
	path = fscrypt
	url = https://github.com/fillabs/fscrypt.git
	branch = main
